.card img {
  width: 300px;
  height: 300px;
}

.card {
  list-style: none;
  border: 2px solid salmon;
  width: 300px;
  height: 300px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.trackbar {
  display: grid;
  grid-template-columns: 2fr .5fr .5fr .5fr .5fr;
  align-items: center;
  justify-items: center;
}
