.card img {
  width: 300px;
  height: 300px;
}

.card {
  list-style: none;
  border: 2px solid salmon;
  width: 300px;
  height: 300px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  border: 5px dotted salmon;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../images/strawhats_bg.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 85vh;
}

.trackbar {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  justify-items: center;
  background-color: navajowhite;
  height: 8vh;
}

.App {
  background-color: black;
}
