.card img {
  width: 150px;
  height: 150px;
}

.card {
  list-style: none;
  border: 2px solid salmon;
  width: 150px;
  height: 150px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}
